<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="static/portada.css">
    <meta charset="utf-8">
    <script type="application/javascript" src="static/cart.js"></script>
    <title></title>
  </head>
  <body>
    <div class="topnav">

    </div>

    <div class="row">
        <div class="col-item">
          <p>Plantilla para mi chat....</p>
          <input id="msg" autocomplete="off" />
          <button type="button" id="send">SEND</button>
          <p id="display"></p>
        </div>
      </div>
      <div class="cart-mssg">
      </div>
  </body>
</html>
