<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="static/portada.css">
    <meta charset="utf-8">
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type="application/javascript" src="chat-client.js"></script>
    <title></title>
  </head>
  <body onload="main()">
    <div class="topnav">

    </div>

    <div class="row">
        <div class="col-item">
          <p style="color:orange">Welcome to chachi chat</p>
          <textarea id="display" cols="30" rows="10" readonly>Lorem ipsum dolor.</textarea>
          <input id="msg" autocomplete="off" />
          <button type="button" id="send">SEND</button>
        </div>
      </div>
      <div class="cart-mssg">
      </div>
  </body>
</html>
