body{
  background-color: brown;
}
img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.topnav{
    width: 100%;
    height: 20px;
    position: fixed;
    background-color: black;
    padding-bottom: 30px;
    top: 0;
    left: 0;
    border: 1px solid red;
    z-index: 1;
}
.row{
  margin-top: 60px;
  height: 350px;
}
.col-1{
  width: 58%;
  height: 100%;
  float: left;
}
.col-item{
  width: 24%;
  float: left;
  text-align: center;
  background: black;
}
.col-2{
  width: 42%;
  height: 100%;
  float: left;
}
a{
  color: white;
  display: block;
  box-sizing: border-box;
}
a:hover{
  background-color: red;
}
#item-text{
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}
