<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="static/portada.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="topnav">
      <div class="menu-col">
        <div class="menu-item">
          <li>
            <a href="">Contacto</a>
          </li>
        </div>
        <div class="menu-item">
          <li>
            <a href="#">Productos</a>
          </li>
        </div>
        <div class="menu-item">
          <ul>
            <form class="search-form" action="search" method="get">
                <input type="text" name="search-box" value="" placeholder="search">
            </form>
          </ul>
        </div>
      </div>
      <div class="menu-item" style="left:80px;">
        <a href="/form">Make an order</a>
      </div>
      <div class="menu-item">
        <a href="./">
          <img src="static/home.png" alt="">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
          <div class="col-item">
            <a href="template/pink-floyd.html">
              <p id=item-text>Pink Floyd Wish You Were Here </p>
              <img src="static/PinkFloyd.jpeg" alt="">
              <p id=item-text>Buy <b>12.0$</b></p>
            </a>
          </div>
          <div class="col-item">
            <a href="template/pink-floyd.html">
              <p id=item-text>Pink Floyd Wish You Were Here </p>
              <img src="static/PinkFloyd.jpeg" alt="">
              <p id=item-text>Buy <b>12.0$</b></p>
            </a>
          </div>
          <div class="col-item">
            <a href="template/pink-floyd.html">
              <p id=item-text>Pink Floyd Wish You Were Here </p>
              <img src="static/PinkFloyd.jpeg" alt="">
              <p id=item-text>Buy <b>12.0$</b></p>
            </a>
          </div>
          <div class="col-item">
            <a href="template/pink-floyd.html">
              <p id=item-text>Pink Floyd Wish You Were Here </p>
              <img src="static/PinkFloyd.jpeg" alt="">
              <p id=item-text>Buy <b>12.0$</b></p>
            </a>
          </div>
      </div>
  </body>
</html>
