<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="static/portada.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="topnav">
      <a href="#">Contacto</a>
    </div>
    <div class="row">
      <div class="col-1">
        <div class="col-item">
          <img src="static/NewOrder.png" alt="">
          <a id=item1 href="#">Buy {{product}}</a>
        </div>
        <img src="static/PinkFloyd.jpeg" alt="">
        <img src="static/KingLeon.jpeg" alt="">
        <img src="static/kingCrimson.jpeg" alt="">
      </div>
      <div class="col-2">
        <img src="static/TotalEclipse.jpg" alt="">
      </div>
    </div>

    <img src="static/Rumours.jpeg" alt="">
    <tr>
      <th>Productos<th>
        <th>Contacto<th>
    </tr>
  </body>
</html>
