<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="static/portada.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="topnav">
      <div class="menu-col">
        <div class="menu-item">
          <li>
            <a href="">Contacto</a>
          </li>
        </div>
        <div class="menu-item">
          <li>
            <a href="#">Productos</a>
          </li>
        </div>
        <div class="menu-item">
          <ul>
            <form class="search-form" action="index.html" method="get">
                <input type="text" name="" value="" placeholder="search">
            </form>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <div class="col-item">
          <a id=item-text href="#">{{product}}-{{price}}</a>
          <img src="static/NewOrder.png" alt="">
          <a id=item-text href="#">Buy</a>
        </div>
        <div class="col-item">
          <a id=item-text href="#">{{product}}-{{price}}</a>
          <img src="static/PinkFloyd.jpeg" alt="">
          <a id=item-text href="#">Buy</a>
        </div>
        <div class="col-item">
          <a id=item-text href="#">{{product}}-{{price}}</a>
          <img src="static/KingLeon.jpeg" alt="">
          <a id=item-text href="#">Buy</a>
        </div>
        <div class="col-item">
          <a id=item-text href="#">{{product}}-{{price}}</a>
          <img src="static/kingCrimson.jpeg" alt="">
          <a id=item-text href="#">Buy</a>
        </div>
      </div>
      <div class="col-2">
        <img src="static/TotalEclipse.jpg" alt="">
      </div>
    </div>

    <img src="static/Rumours.jpeg" alt="">
    <tr>
      <th>Productos<th>
        <th>Contacto<th>
    </tr>
  </body>
</html>
