{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="static/portada.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="topnav">
      <div class="menu-col">
        <div class="menu-item">
          <li>
            <a href="">Contacto</a>
          </li>
        </div>
        <div class="menu-item">
          <li>
            <a href="#">Productos</a>
          </li>
        </div>
        <div class="menu-item">
          <ul>
            <form class="search-form" action="search.html" method="get">
                <input type="text" name="search-box" value="" placeholder="search">
            </form>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        {% for album in albums %}
          <div class="col-item">
            <a href="{{album.name}}">
              <p id=item-text>{{album.author}} {{album.name}}</p>
              <img src={{album.img}} alt="">
              <p id=item-text>Buy <b>{{album.price}}$</b></p>
            </a>
          </div>
        {% endfor %}
      </div>
    <tr>
      <th>Productos<th>
        <th>Contacto<th>
    </tr>
  </body>
</html>
